html {
    height: 100%;
}


body {
    background-color: pink;
    background-image: url(images/MicrosoftTeams-image\ \(22\).png); /*this is how you make an image in the whole background*/
    background-size: cover; /*this means the image scales with the window if its made smaller or bigger*/
    background-repeat: no-repeat; /* this means the image does not repeat where it does not fit onto the website*/

    
}
.bodyActivities {

    background-image: url(images/MicrosoftTeams-image\ \(14\).png);
}
.bodyNotes {
    background-image: url(images/MicrosoftTeams-image\ \(9\).png);
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 150px;
    text-align: center;
}

nav {
    background-color: rgba(255, 192, 203, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 25px;
}
nav a { /* this is a compound selector, it means if there are a tags in the nav. do this other thing. its being more specific.*/
    text-decoration: none; /*this removes the underline from the links*/
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;

}

main {
    color: black;
    height: 400px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: rgba(255, 192, 203, 0.5);
    color: black;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;
}
footer p {
padding-top: 25px;
}

footer a {
    padding-top: 10px;
    text-decoration: none; /*this removes the underline from the links*/
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
}
section {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.album {

    padding-top: 100px;

}

h1 {
    font-size: 64px;
    color: black;
    
    
}
h2 {
    font-size: 48px;
    color: black;
}
h3 {
    font-size: 24px;
    color: black;
}
p {
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.textBox {
    padding-top: 5px;
    padding-bottom: 25px;
    margin-bottom: 5px;
    background-color: rgba(255, 192, 203, 0.5);
    
}
a {
    color: black ;
    font-family: Arial, Helvetica, sans-serif;
}


